html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
/***********************************************/
.topnav {
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 3px 6px 0 rgb(175, 175, 175);
  }
  
  .topnav .topnav__link {
    float: left;
    color: #181818;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;
  }
  
  .topnav .topnav__link:hover {
    color: #060c18;
    transition: 0.2s;
  }
  /*****/
  #footer-navbar {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 6%;
    background: var(--bg-top-bottom);
    box-shadow: 3px 0 4px 2px rgb(175 175 175 / 72%);
  }
  
  .nav-fo{
    color: rgb(119, 119, 119); 
  }
/***********************************************/
.main__title{
    display: flex;
    justify-content: center;
}

h3{
    font-size: 5rem;
}

#target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 30s alternate infinite;
    perspective: 200px;
    transform: translateX(26px);
}

@keyframes color {
    0%{color: rgb(40, 106, 206);}
    50%{color: rgb(202, 38, 79);}
    100%{color: rgb(40, 106, 206);}
}

.letter {
    transform: translateZ(200px);
}


@keyframes anim {
    25%{
        transform: translateZ(0px);
        opacity: 1;
    }
    32%{
        transform: translateZ(-280px) translateZ(200px);
        opacity: 0;
    }
}


/***************/
.main__btn{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#btn5{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(0, 88, 219);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    width: 20%;
    height: 60px;
    border-radius: 50px;
    text-decoration: none;
}
.TxtBtn {
    position: relative;
    pointer-events: none;
}
#btn5::before{
    --size: 0px;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    background: radial-gradient(circle closest-side, rgb(45, 152, 224), transparent);
    width: var(--size);
    height: var(--size);
    transform: translate(-50%,-50%);
    transition: 0.1s ease;
}
#btn5:hover::before{
    --size: 500px;

}