html{
    width: 100%;
    height: 100%;
    overflow: clip;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 10%;
}
/***********************************************/
.topnav {
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 3px 6px 0 rgb(175, 175, 175);
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .topnav .topnav__link {
    float: left;
    color: #181818;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;
  }
  
  .topnav .topnav__link:hover {
    color: #060c18;
    transition: 0.2s;
  }
  /*****/
  #footer-navbar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: rgb(243, 243, 243);
    box-shadow: 3px 0 4px 2px rgb(175 175 175 / 72%);
  }
  
  .nav-fo{
    color: rgb(119, 119, 119); 
  }
/***********************************************/
.main__title{
    display: flex;
    justify-content: center;
}

h3{
    font-size: 5rem;
}

#target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 30s alternate infinite;
    perspective: 200px;
    transform: translateX(26px);
}

@keyframes color {
    0%{color: rgb(40, 106, 206);}
    50%{color: rgb(202, 38, 79);}
    100%{color: rgb(40, 106, 206);}
}

.letter {
    transform: translateZ(200px);
}


@keyframes anim {
    25%{
        transform: translateZ(0px);
        opacity: 1;
    }
    32%{
        transform: translateZ(-280px) translateZ(200px);
        opacity: 0;
    }
}


/***************/
.main__btn{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#btn5{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(0, 88, 219);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    text-decoration: none;
}
.TxtBtn {
    position: relative;
    pointer-events: none;
}
#btn5::before{
    --size: 0px;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    background: radial-gradient(circle closest-side, rgb(45, 152, 224), transparent);
    width: var(--size);
    height: var(--size);
    transform: translate(-50%,-50%);
    transition: 0.1s ease;
}
#btn5:hover::before{
    --size: 500px;

}
/**************************************/
#news{    
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
    align-items: center;

}


/******************************************/

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px 2px  #8a8a8a;
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    transition: 0.2s;
  }
  .blog-card:hover{
    box-shadow: 0 2px 7px 2px  #6d6d6d;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #5ad67d;
  }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
  }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
  }

  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
  }

  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
  }
  .blog-card .description .read-more a:after {
    content: "";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
  }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .blog-card.alt {
      flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      transform: skew(3deg);
    }

  }


  /**************************************/
@media (max-width: 628px){
  #btn5{
    width: 200px;
  }
  h3{
    font-size: 3em;
    padding: 3%;
  }
  .blog-card {
    max-width: 400px;
    max-height: 600px;
  }
  .blog-card .photo{
    height: 20px;
    margin: 0;
    background-size: 0px;
  }
  .blog-card .details {
  height: 20px;
  margin: 0;
}
.blog-card .meta {
  height: 20px;
  opacity: 0;
}
  .blog-card .description {
    top: 0;
  }
}